<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--school模块-->
    <bean id="school" class="com.bjpowernode.package05.School">
        <property name="address" value="QingDao"/>
        <property name="name" value="山东科技大学"/>
    </bean>


</beans>